body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #807E7E;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.discount {
  text-decoration: line-through;
}
.products {
  position: relative;
}

@media only screen and (min-width: 1025px) {
  .oraimoPoster {
    height: 41.3vh !important;
    height: 30% !important;
    width: 97% !important;

  }
  .halfPic {
    height: 90% !important;
    /* height: 41vh !important; */
    /* width: 50% !important; */
  }
  .halfPic img {
    height: 100%;
  }
}

@media only screen and (max-width: 830px){
  .productItemContainer {
    container: flex;
    flex-direction: column !important;
  }
}